{% if actions %}
  {% set overridetimeout = false %}
  <div class="panel panel-default panel-last-modified">
    <div class="panel-heading">
      <i class="fa fa-fw fa-edit"></i>
      Who is editing?
    </div>
    <div class="panel-body actions-container" data-actions-url="{{ path('whoisediting.actions') }}">
      {% for action in actions %}
        <div class="alert {{ actionsmetadata[action.action].class }}" role="alert">
          <p>{{ action.displayname }} {{ actionsmetadata[action.action].text  }} this record.
          {% if action.date|default() is not empty %}
              {%- set dt = action.date|date('Y-m-d\\TH:i:sP') -%}
              <time class="buic-moment" datetime="{{ dt }}">{{ action.date|localedatetime('%a %d %b %H:%M') }}</time>
          {% endif %}
          </p>
          {% if action.action|default() == 'update' %}
            <p>You will overwrite the changes made by {{ action.displayname }} if you save now. Please copy your changes to a separate file and refresh this page before continuing.</p>
            {% set overridetimeout = true %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    var whoiseditingdata = {
      recordID: '{{ actions|first()['record_id'] }}',
      contenttype: '{{ actions|first()['contenttype'] }}',
      userID: '{{ userId }}',
      date: '{{ actions|first()['date']|default() }}',
      whoiseditingTimeInterval: '{{ whoiseditingconfig['timeInterval'] }}',
      url: '{{ path('whoisediting.actions') }}'
    };
    {% if overridetimeout %}
      clearInterval(window.who_is_editing_interval);
      $('button#sidebar_save, button#content_edit_save').parent().children().removeClass('btn-primary').addClass('btn-default');
    {% endif %}
  </script>

{% endif %}
