<div class="actions-container" data-actions-url="{{ path('whoisediting.actions') }}">
  {% for action in actions %}
    <div class="alert {{ actionsmetadata[action.action].class }}" role="alert">
      {{ action.displayname }} {{ actionsmetadata[action.action].text  }} this record
    </div>
  {% endfor %}
</div>

{% if actions %}
  <script>
    var whoiseditingdata = {
      recordID: '{{ actions|first()['record_id'] }}',
      contenttype: '{{ actions|first()['contenttype'] }}',
      userID: '{{ user.id }}',
    }
  </script>
{% endif %}